<div id="columnas">
  <div *ngFor="let pais of paises">
    <div><b><span>Nombre: </span></b> {{pais.nombre}} </div>
    <div><b><span>Capital: </span></b> {{pais.capital}} </div>
    <div><b><span>Poblacion: </span></b> {{pais.poblacion}} </div>
    <div><b><span>Moneda: </span></b> {{pais.moneda}} </div>
  </div>
</div>
