<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['usuarios']" routerLinkActive="active">Lista Usuarios </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['empleados']" routerLinkActive="active">Empleados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['clientes']" routerLinkActive="active">Lista Clientes</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['customers']" routerLinkActive="active">Lista Customers</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Customers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['customers']">Ver Lista</a>
          <a class="dropdown-item" [routerLink]="['customers/add']">Agregar</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
