<div class="container">
  <span style="text-align: center">
    <h3>Ingresar Customer</h3>
  </span>
  <form [formGroup]="frmCustomer">
    <div class="form-group">
      <label for="CustomerID">ID Customer</label>
      <input
        type="text"
        class="form-control"
        placeholder="ID Customer"
        formControlName="CustomerID"
        [ngClass]="{'is-invalid': frmCustomer.get('CustomerID').touched &&
                                  frmCustomer.get('CustomerID').invalid}"
      />
      <span class="invalid-feedback">
        <span *ngIf="frmCustomer.get('CustomerID')?.errors?.required">
          El ID es obligatorio
        </span>
        <span *ngIf="frmCustomer.get('CustomerID')?.errors?.minlength">
          El ID debe contener mínimo 3 caracteres
        </span>
      </span>
    </div>
    <div class="form-group">
      <label for="CompanyName">Company Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Company Name"
        formControlName="CompanyName"
        [ngClass]="{'is-invalid': frmCustomer.get('CompanyName').touched &&
                                 frmCustomer.get('CompanyName').invalid}"
      />
      <span class="invalid-feedback" *ngIf="frmCustomer.get('CompanyName')?.errors?.required">
        Company Name es obligatoria
      </span>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ContactName">Contact Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Contact Name"
          formControlName="ContactName"
          [ngClass]="{'is-invalid': frmCustomer.get('ContactName').touched &&
                                    frmCustomer.get('ContactName').invalid}"
        />
        <span class="invalid-feedback" *ngIf="frmCustomer.get('ContactName')?.errors?.required">
          El ContactName es obligatoria
        </span>
      </div>

      <div class="form-group col-md-6">
        <label for="ContactTitle">Contact Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Contact Title"
          formControlName="ContactTitle"
          [ngClass]="{'is-invalid': frmCustomer.get('ContactTitle').touched &&
                                    frmCustomer.get('ContactTitle').invalid}"
        />
        <span class="invalid-feedback" *ngIf="frmCustomer.get('ContactTitle')?.errors?.required">
          El ContactTitle es obligatoria
        </span>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Address">Address</label>
        <input
          type="text"
          class="form-control"
          placeholder="Address"
          formControlName="Address"
          [ngClass]="{'is-invalid': frmCustomer.get('Address').touched &&
                                    frmCustomer.get('Address').invalid}"
        />
        <span class="invalid-feedback" *ngIf="frmCustomer.get('Address')?.errors?.required">
          La Address es obligatoria
        </span>
      </div>
      <div class="form-group col-md-6">
        <label for="City">City</label>
        <input
          type="text"
          class="form-control"
          placeholder="City"
          formControlName="City"
          [ngClass]="{'is-invalid': frmCustomer.get('City').touched &&
                                    frmCustomer.get('City').invalid}"
        />
        <span class="invalid-feedback" *ngIf="frmCustomer.get('City')?.errors?.required">
          La City es obligatorio
          </span>
      </div>

      <div class="form-group col-md-6">
        <label for="Region">Region</label>
        <input
          type="text"
          class="form-control"
          placeholder="Region"
          formControlName="Region"
          [ngClass]="{'is-invalid':frmCustomer.get('Region').invalid}"
        />
        <span class="invalid-feedback" *ngIf="frmCustomer.get('Region')?.errors?.required">
          La Region es obligatorio
          </span>
      </div>

      <div class="form-group col-md-6">
        <label for="PostalCode">PostalCode</label>
        <input
          type="number"
          class="form-control"
          placeholder="PostalCode"
          formControlName="PostalCode"
          [ngClass]="{'is-invalid':frmCustomer.get('PostalCode').invalid}"
        />
        <span class="invalid-feedback" *ngIf="frmCustomer.get('PostalCode')?.errors?.required">
          El PostalCode es obligatorio
          </span>
      </div>

      <div class="form-group col-md-6">
        <label for="Country">Country</label>
        <input
          type="text"
          class="form-control"
          placeholder="Country"
          formControlName="Country"
          [ngClass]="{'is-invalid':frmCustomer.get('Country').invalid}"
        />
        <span class="invalid-feedback" *ngIf="frmCustomer.get('Country')?.errors?.required">
          El Country es obligatorio
          </span>
      </div>

      <div class="form-group col-md-6">
        <label for="Phone">Phone</label>
        <input
          type="tel"
          class="form-control"
          placeholder="Phone"
          formControlName="Phone"
          [ngClass]="{'is-invalid': frmCustomer.get('Phone').touched &&
                                    frmCustomer.get('Phone').invalid}"
        />
        <span class="invalid-feedback" *ngIf="frmCustomer.get('Phone')?.errors?.required">
          El telefono es obligatoria
        </span>
      </div>

      <div class="form-group col-md-6">
        <label for="Fax">Fax</label>
        <input
          type="tel"
          class="form-control"
          placeholder="Fax"
          formControlName="Fax"
          [ngClass]="{'is-invalid': frmCustomer.get('Fax').touched &&
                                    frmCustomer.get('Fax').invalid}"
        />
        <span class="invalid-feedback" *ngIf="frmCustomer.get('Fax')?.errors?.required">
          El Fax es obligatoria
        </span>
      </div>

    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-md-1">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Guardar</button>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
  </form>
</div>
