<!-- <div class="container-fluid"> -->
<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Company Name</th>
        <th scope="col">Contact Name</th>
        <th scope="col">Contact Title</th>
        <th scope="col">Addres</th>
        <th scope="col">City</th>
        <th scope="col">Region</th>
        <th scope="col">PostalCode</th>
        <th scope="col">Country</th>
        <th scope="col">Phone</th>
        <th scope="col">Fax</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let custom of customers">
        <tr>
          <td>{{ custom.CustomerID }}</td>
          <td>{{ custom.CompanyName }}</td>
          <td>{{ custom.ContactName }}</td>
          <td>{{ custom.ContactTitle }}</td>
          <td>{{ custom.Address }}</td>
          <td>{{ custom.City }}</td>
          <td>{{ custom.Region }}</td>
          <td>{{ custom.PostalCode }}</td>
          <td>{{ custom.Country }}</td>
          <td>{{ custom.Phone }}</td>
          <td>{{ custom.Fax }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
