/* You can add global styles to this file, and also import other style files */
/*
h1{
  color:#356854;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2,h3{
  color: #A26542;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body{
  margin: 2em;
}

body, input[type="text"], button{
  color: #b85459;
  font-family: Cambria, Georgia;

}

*{
  font-family: Arial, Helvetica, sans-serif;
}
*/
